<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781360509030-iae8r276tbfi1phieqqlpq976ogf61kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781360509030-iae8r276tbfi1phieqqlpq976ogf61kn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781360509030-2vbrpubbvos9lkniu0p4ghtaouao4s3h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0GO9RSMqV_N5e7BC0aPPD82orAvOJT6g</string>
	<key>GCM_SENDER_ID</key>
	<string>781360509030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sank.timetracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutterproject</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutterproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781360509030:ios:f2a00eea305725edaffda7</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-flutterproject.firebaseio.com</string>
</dict>
</plist>